{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <img src="{{candidate.logo}}" style="height:60px;padding-right: 10px;">
                    </i>
                </div>
                <div>{{candidate.ticker}}
                    <div class="page-title-subheading">{{candidate.company_name}}
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

            </div>
            <div class="page-title-actions">
                <div class="d-flex">
                    <div class="col-md-6">
                        <button class="w-100 mb-2 mr-2 btn
                            {% if market_data.algotrader_rank >= user_settings.algo_min_algotrader_rank %}
                            btn-success
                            {% else %}
                            btn-warning
                            {% endif %}">Algotrader Analytics
                            <span class="badge badge-pill badge-light">{{market_data.algotrader_rank}}</span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 mr-2 badge badge-pill badge-secondary">Last Update(UTC) :
                            {{market_data.updated_server_time}}
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-6">
                        <button class="w-100 mb-2 mr-2 btn
                        {% if market_data.under_priced_pnt>=user_settings.algo_min_underprice %}
                        btn-success
                        {% else %}
                        btn-warning
                        {% endif %}">Underpriced
                            <span class="badge badge-pill badge-light">{{market_data.under_priced_pnt}}</span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="w-100 mb-2 mr-2 btn
                        {% if market_data.twelve_month_momentum>=user_settings.algo_min_momentum %}
                        btn-success
                        {% else %}
                        btn-warning
                        {% endif %}">12M Momentum (%)
                            <span class="badge badge-pill badge-light">{{market_data.twelve_month_momentum*100 |round(1)}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div>
                    <div class="mb-2 mr-2 badge badge-info"><a target="_blank"
                                                               href="https://finance.yahoo.com/quote/{{candidate.ticker}}">Go
                        to Yahoo</a></div>
                </div>

                <div>
                    <div class="mb-2 mr-2 badge badge-info"><a target="_blank"
                                                               href="https://www.tipranks.com/stocks/{{candidate.ticker}}/forecast">Go
                        Tiprank</a></div>
                </div>
                <div>
                    <div class="mb-2 mr-2 badge badge-info"><a target="_blank"
                                                               href="https://stockinvest.us/stock/{{candidate.ticker}}">Go
                        to Stock Invest</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <div id="container" style="width:100%; height:400px;"></div>
            <div>
                <input type="hidden" id="ticker" value="{{ candidate.ticker }}">

                <script> var hist_dates = {{ hist_dates|tojson }}; </script>
                <script> var hist_algo_ranks = {{ hist_algo_ranks|tojson }}; </script>

            </div>
        </div>
        <div class="row">
            <canvas id="myChart" style="width:100%; height:400px;"></canvas>

        </div>
        <div class="divider mt-0" style="margin-bottom: 30px;"></div>

        <div class="row">
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">INFO</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y ps">
                                {{ candidate.full_description }}
                                <div class="ps__rail-x" style="left: 0px; bottom: -160px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 160px; height: 200px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 32px; height: 40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">WHY</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y ps">
                                {{ candidate.reason }}
                                <div class="ps__rail-x" style="left: 0px; bottom: -160px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 160px; height: 200px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 32px; height: 40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">SPECS</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Sector: {{candidate.sector}}</li>
                            <li class="list-group-item">Industry: {{candidate.industry}}</li>
                            <li class="list-group-item">Exchange: {{candidate.exchange}}</li>
                            <li class="list-group-item">Av. daily drop: {{market_data.yahoo_avdropP|round(1, 'floor')}}
                                %
                            </li>
                            <li class="list-group-item">Av. daily spread:{{market_data.yahoo_avdropP|round(1, 'floor')}}
                                %
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/ticker_info.js') }}"></script>
{% endblock %}
