<div>
    <p>
        TEXT MESSAGES
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Price</th>
            <th scope="col">Buying trigger</th>
            </tr>
        </thead>
        <tbody>
<!--        {% for d in data %}-->
            <tr class="hover-actions-trigger">
<!--                <td class="align-middle text-nowrap">{{d[0]['ticker']}}</td>-->
<!--                <td class="align-middle text-nowrap">{{d[1]['price']}}</td>-->
<!--                <td class="align-middle text-nowrap">{{d[0]['buying_target_price_fmp']}}</td>-->
                 <td class="align-middle text-nowrap">ccc</td>
                <td class="align-middle text-nowrap">25</td>
                <td class="align-middle text-nowrap">24</td>
            </tr>
<!--        {% endfor %}-->
        </tbody>
    </table>
</div>