#net-report{
    width:100%;
    height:400px;
}

.closed-positions-tbl, .closed-positions-filters{
    overflow-x: scroll;
}

.btn-off{
    background-color: #e0dede !important;
}

.filter-items{
    display: flex;
    flex-direction: column;
    padding: .92857143em 1.14285714em;
}

.menu .filter-items{
    width: 12em;
}

.info-items{
    flex-direction: column;
}

.label-info{
    font-size: xx-small;
}

#closed-position-form, .filter-title{
    margin-bottom: 10px;
}

.position-items {
    display: inherit;
}

.ui.menu .last-item:before {
    height: 0 !important;
}

.ibkr-div{
    margin-left: 55% !important;
}
.ibkr-btn{
    width: 200px;
}

.datepicker-item{
    width:150px;
}
.error-tickers-modal{
    margin-top: 8% !important;
}

#contract{
    height: 400px;
}



@media (max-width: 1000px){
    .ibkr-div{
        margin: 0 auto !important;
    }
    .ibkr-btn{
        width: 150px;
    }
}





