{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph1 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Closed position Information
                    <div class="page-title-subheading">Detailed info on {{position.ticker}} .
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="column">

        <div id="container_position_on_graph" style="width:100%; height:400px;"></div>
        <div id="tr_rating_graph" style="width:100%; height:400px;"></div>
        <div>
            <input type="hidden" id="ticker" value="{{ position.ticker }}">
            <input type="hidden" id="closed" value="{{ position.closed }}">
            <input type="hidden" id="opened" value="{{ position.opened }}">
            <input type="hidden" id="profit" value="{{ position.profit }}">
            <input type="hidden" id="fmp_rating_on_buy" value="{{ fmp_rating_on_buy }}">
            <input type="hidden" id="tip_rank_on_buy" value="{{ tip_rank_on_buy }}">
        </div>

    </div>
    <script>
    rank_array={{rank_array| safe}}


    </script>
</div>
{% endblock %}
{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/closed_position_info.js') }}"></script>
{% endblock %}
