{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner" xmlns="http://www.w3.org/1999/html">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Requirements
                    <div class="page-title-subheading">All You need to Know to use the platform.
                    </div>
                </div>
                {%if user.signature%}
                <div>
                    <a href="/station/downloadzip" download>
                        <i class="nav-link-icon fa fa-download pl-5"> </i>
                        AlgoTrader Package
                    </a>
                </div>
                {%endif%}
            </div>

        </div>
    </div>
    {% if not user.signature %}
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show">
            <form action="/algotradersettings/save_signature" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 style="font-size: large;" class="card-title">Terms and conditions for accessing or otherwise using Algotrader service </h5>
                            </div>
                            <div>
                                <a href="/station/download_contract" download><i class="nav-link-icon fa fa-download"> </i>Download contract</a><br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <textarea id="contract" disabled class="form-control">{{contract_txt}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="signature_full_name" class="font-weight-bold">Signature <span class="text-danger">[Full name]</span></label>
                                    <input title="Full Name" value="{{user.signature_full_name}}"
                                           name="signature_full_name" id="signature_full_name"
                                           type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-checkbox custom-control pl-5 pt-5">
                                    <input title="Agreement with the terms of a contract"
                                           type="checkbox"
                                           id="signature"
                                           name="signature"
                                           disabled=""
                                           class="custom-control-input form-check-input">
                                    <label class="custom-control-label font-weight-bold" for="signature">I'm agree</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="signature-submit" class="mt-2 btn btn-primary" disabled>Save</button>
                </div>
            </form>
        </div>
    </div>
    {%else%}
    {% if not user.admin_confirmed %}
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show">
            <form action="/algotradersettings/saverequirementssettings" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        {% if user.tws_requirements%}
                        <h5 style="font-size: large; color: green;" class="card-title">All Ready! </h5>
                        <div style="margin-bottom: 30px;">
                            <p>Hello <span style="color:blue;">{{user.first_name}}!</span></p>
                            <p>We got all necessary details and are working to set Your environment, it will not take
                                long...</p>
                            <p>You will get a message to <span style="color:blue;">{{user.email}}</span> once it is
                                ready.</p>
                            <p>If You have any questions/comments: <b>support@algotrader.company</b></p>
                        </div>
                        {%else%}
                        <h5 style="font-size: large;" class="card-title">Station settings </h5>
                        <div style="margin-bottom: 30px;">
                            <p>Hello <span style="color:blue;">{{user.first_name}}!</span></p>
                            <p>Your email : <span style="color:blue;">{{user.email}}</span> have been confirmed.</p>
                            <p>In order to provide You a dedicated virtual machine for Agotrader Client execution,
                                please provide a following details:</p>
                        </div>
                        {%endif%}


                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="connection_account_name" class="">IBKR account</label>
                                    <input title="Account name- can be seen at IBKR.com"
                                           value="{{user_settings.connection_account_name}}"
                                           name="connection_account_name" id="connection_account_name" type="text"
                                           class="form-control"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="connection_tws_user" class="">TWS user</label>
                                    <input title="User name - to login to TWS automatically on restarts"
                                           value="{{user_settings.connection_tws_user}}" name="connection_tws_user"
                                           id="connection_tws_user" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="connection_tws_pass" class="">TWS password</label>
                                    <input title="Password - to login to TWS automatically on restarts"
                                           value="{{user_settings.connection_tws_pass}}" name="connection_tws_pass"
                                           id="connection_tws_pass" type="password"
                                           class="form-control"></div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="mt-2 btn btn-primary">Save</button>

                </div>
            </form>

        </div>
    </div>
    {% endif %}
    <div class="column">
        <h1>IBKR Market Data subscriptions </h1>
        <p>The Agrotrader system uses SMART exchange setting to place an orders with the best price via Interactive
            brokers.</br> In order to get the correct Live prices You need a following Data subscriptions enabled: </p>
        <p><b>North America</b></p>
        <p>IEX Depth of Book</p>
        <p>NASDAQ (Network C/UTP) </p>
        <p>NYSE (Network A/CTA)</p>
        <p>NYSE American, BATS, ARCA, IEX, and Regional Exchanges (Network B)</p>
        <p>US Mutual Funds</p>
        <p><b>Global</b></p>
        <p>IDEAL FX</p>
        <p>US and EU Bond Quotes</p>
        <p>Your subscription page should look as following(User Settings>Market Data Subscriptions) :</p>
        <img style="width: 500px;" src="/static/images/Requirements/MarketDataSubscriptions.png">

        <h1>TWS without SMS confirmation</h1>
        <p>The security settings of the Interactive brokers require a daily restart for TWS Trader application. We do it
            for every user...</br>
            In order to let us do that, the Secure Login System Opt Out should be applied.</p>
        <p>1. Set a Secure Login Devices: </br>
            a. Go to User Settings > Security > Secure Login System > Seamless Authentication.</br>
            b. Use the check box to enable or disable Seamless Authentication for your mobile device with IB Key.</br>
            c. If disabled, you will be required to use a challenge code and pass code sequence to log in.</br></p>
        <p>2. SLS Opt Out: </br>
            a. Go to User Settings >Security > Secure Login System > Secure Login required for trading..</br>
            b. Check the radio button "I Only want to use my Secure Login Device When logging into Client
            Portal"</br></p>
        <img style="width: 800px;" src="/static/images/Requirements/sls_optout.png">


        <p>You may use TWS +Algotrader pair on Your personal computer. if You decide to do so - please follow the
            instruction below. </br>
            Otherwise we <b>set everything for You </b> when we deploy a dedicated Virtual Machine</p>

        <h1>TWS configuration</h1>
        <p> 1. Select Never Lock Trader Workstation</br>
            2.Select Autorestart option</p>
        <img style="width: 500px;" src="/static/images/Requirements/tws1.png">
        <p>3.Enable ActiveX and Socket clients</br>
            4.Dismiss Read Only API</br>
            5.Change Port to 7498</br>
            6. Compare the rest to image below:</p>
        <img style="width: 600px;" src="/static/images/Requirements/tws1.png">
        <p>7.Bypass order precautions on API Oredrs</p>
        <img style="width: 600px;" src="/static/images/Requirements/tws3.png">

        <h1>Algotrader Client </h1>
        <h2>Windows</h2>

        <h3>Algotrader installation</h3>

        1. Download and install TWS Trader station. (Gateway can be used - but it have no AutoUpdate feature)<br>
        <a href="https://www.interactivebrokers.com/en/index.php?f=16040" target="_blank"><i
                class="nav-link-icon fa fa-download"> </i>Download TWS</a><br>
        2. Make sure to open API and set port as in the settings, remove precauctious message<br>

        3. Install Python 3.9 if needed <br>
        <a href="https://www.python.org/downloads/release/python-392/" target="_blank"><i
                class="nav-link-icon fa fa-download"> </i>Python 3.9</a><br>
        4. Download Algotrader package<br>
        <a href="/station/downloadzip" download><i class="nav-link-icon fa fa-download"> </i>AlgoTrader Package</a><br>
        5. Unzip where feels good :)<br>
        6. Go to forder "twsapi" run : installWindows.bat<br>
        7. Ready! Launch with "win_start_all.bat"<br>

        <h3>Setting a PC</h3>
        <h4>Adding to Autostart</h4>
        1. Go to algotrader folder. Right-click win_start_all.bat, create shortcut. Cut/Copy it.<br>
        2. Go to C:\Users\Administrator\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup<br>
        3. Paste shortcut.<br>
        <h4>Setting Autorestart</h4>
        1. Open Task Scheduler<br>
        2. Create Basic task. Action: shutdown Argument: /r<br>
        <h4>Setting AutoLogOn</h4>
        1. Right click on Start and select Run, type NetPLWiz and then press Enter.<br>
        2. Select User Account. Uncheck the option to ask for a password.<br>


        <h2>Linux</h2>

        <h3>Algotrader installation</h3>

        1. Download and install TWS Trader station. (Gateway can be used - but it have no AutoUpdate feature)<br>
        <a href="https://www.interactivebrokers.com/en/index.php?f=16040" target="_blank"><i
                class="nav-link-icon fa fa-download"> </i>Download TWS</a><br>
        2. Make sure to open API and set port as in the settings, remove precauctious message<br>
        4. Download Algotrader package<br>
        <a href="/station/downloadzip" download><i class="nav-link-icon fa fa-download"> </i>AlgoTrader Package</a><br>
        5. Unzip <br>
        6. Go to forder "twsapi" make linux_install.sh executable<br>
        7. run : linux_install.sh<br>
        7. Ready! Launch with "linux_start_all.sh"<br>

        <h3>Setting a PC</h3>
        <h4>Adding to Autostart</h4>
        1. Go to Startup applications.Add new command.Select linux_start_all.sh<br>
        2. modify to format: mate-terminal -e "bash -c PATHTOFILE"<br>
        3. create cron job's for autorestart and watch dog:<br>
        4. sudo crontab -e<br>
        5. 0 16 * * * /sbin/shutdown -r<br>
        6. 0 10 * * * /sbin/shutdown -r<br>
        7. */5 * * * * /home/su/Downloads/algotrader-station/algotrader/linux_watch_dog_sh <br>
        8. it configures 2 daily restarts : mornig and before trade, and watchdog app to check if algotrader is running
        - every 5 minutes.<br>
        9.Ready<br>


    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripting %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/settings.js') }}"></script>
{% endblock %}

