{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet sixteen wide computer centered column">
        <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
            <i class="caret left icon"></i>
            Back to dashboard
        </a>
        <h2 class="ui header">
            Spider statistic
            <div class="sub header">
                Spider process data
            </div>
        </h2>

        <div class="ui menu">
            <div class="ui left search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Search data…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {# Use overflow-x: scroll so that mobile views don't freak out
        # when the table is too wide #}
        <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th>Process start time</th>
                    <th>Update satatus</th>
                    <th>Last Update Date</th>
                    <th>Process Time</th>
                    <th>AVG time by ticker</th>
                    <th>Num of tickers</th>
                    <th>Updated</th>
                    <th>Updated today</th>
                    <th>Error tickers</th>
                </tr>
                </thead>
                <tbody>
                {% for s in statistics %}
                <tr>
                    <td class="text-center">
                        {{s["start_process_time"]}}
                    </td>
                    <td class="text-center">
                        {%if s["error_status"] == 0%}
                        <i class="check icon green"></i>
                        {%else%}
                        <i class="times icon red"></i>
                        {%endif%}
                    </td>
                    <td class="text-center">
                        {{s["last_update_date"]}}
                    </td>
                    <td class="text-center">
                        {{s["process_time"]}}
                    </td>
                    <td class="text-center">
                        {{s["avg_time"]|round(2)}}
                    </td>
                    <td class="text-center">
                        {{s["num_tickers"]}}
                    </td>
                    <td class="text-center">
                        {{s["all_upd"]}}
                    </td>
                    <td class="text-center">
                        {{s["today_upd"]}}
                    </td>
                    {%if s["error_tickers_num"] > 0%}
                    <td class='text-center text-danger'>
                        <button data="{{s}}" type="button" class="mb-2 mr-2 btn-transition btn btn-outline-danger modal-btn">{{s["error_tickers_num"]}}</button>
                    </td>
                    {%else%}
                    <td class='text-center'>
                        {{s["error_tickers_num"]}}
                    </td>
                    {%endif%}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripting %}

<script type="text/javascript">
        $(document).ready(function () {
            $(".modal-btn").on("click", function(){
                $(".error-tickers-modal").modal("show");
                var data = $(this).attr("data");
                data = data.replaceAll("'",'"');
                json_data = JSON.parse(data);
                error_tickers = json_data["error_tickers"]
                research_error_tickers = json_data["research_error_tickers"]
                if(error_tickers.length > 0){
                    $(".process-error").find(".item-content").html(error_tickers.join(", "))
                    $(".process-error").show();
                }
                else{
                    $(".process-error").hide();
                }
                if(research_error_tickers.length > 0){
                    var str="";
                    $.each(research_error_tickers, function( key, value ) {
                        $.each(value, function(key, value){
                            str +=key + ": " + value.join(", ") + "; ";
                        });
                    });
                    $(".research-error").find(".item-content").html(str);
                    $(".research-error").show();
                }
                else{
                    $(".research-error").hide();
                }

            })

            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
</script>

{% endblock %}
{% block modal %}
<div class="modal error-tickers-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Error tickers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="filter-items process-error">
                    <div class="position-items">
                        <div>Process error:</div>
                        <div class="item-content pl-2"></div>
                    </div>
                </div>
                <div class="filter-items research-error">
                    <div class="position-items">
                        <div>Research error:</div>
                        <div class="item-content pl-2"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

